/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado (header) */
header {
    background-color: #333;
    color: white;
    padding: 20px 20px;
    display: flex; /* Usar flexbox para alinear elementos horizontalmente */
    justify-content: space-between; /* Distribuir elementos en el espacio disponible */
    align-items: center; /* Centrar verticalmente los elementos */
}

/* Estilos para el logotipo */
.logo img {
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
/*modifica texto de barra nav*/
nav ul a {
    margin-right: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* */
.boton {
    display: flex; /* Usar flexbox para alinear elementos horizontalmente */
}

button {
    background-color: #cc5200;
    color: white;
    border-radius:18px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px; /* Espacio entre los botones */
}
/*========================================*/
/*CAMBIAR COLOR DE SELECCION DEL PANEL DE NAV*/
nav a:hover{
    color:rgb(255, 0, 238);
    text-decoration: underline;

}

/*MOD PIE DE PAGINA*/
footer{
    text-align:center;
    background-color: rgb(168, 100, 100);
    padding: 5px;
    
}
/*MOD TEXTO Y COLOR PIE DE PAGINA*/
.copy{
    color: rgb(10, 7, 7);
    font-size: 8px;
    margin: 15px;
}
/*####################################BLOG################################*/
.categorias li{
    display:inline-block; 
    text-align: center;
    width: 19%;
    vertical-align: top;
    border-color: rgb(247, 246, 246);
    border-width:2px ;
    border-style: solid;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
    align-content: center;
    
}
.TEXT1 h1{
    text-align:center ;
}
.categorias li:hover{
    border-color:orange;
    transform: scale(1.1);  
}
.categorias{
    width: auto;
    margin: 30px;
    padding: 30px;
}
.categorias h2{
    font-size: 25px;
    font-weight: bold;
}
.categorias li:hover h2 {  
    font-size: 23px;
}

.ini1 a:hover{
    
    text-decoration: underline;
}
.caja{
    position: relative;
    margin: auto;
    width: 9400px;
}

.categorias li:hover{
    border-color:rgb(11, 184, 11);  
}

.copy{
    color: white;
    font-size: 8px;
    margin: 15px;
}
.logoini{
   align-items: left; 
   margin: 1px;
   background-color:red;

}