/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado (header) */
header {
    background-color: #333;
    color: white;
    padding: 20px 20px;
    display: flex; /* Usar flexbox para alinear elementos horizontalmente */
    justify-content: space-between; /* Distribuir elementos en el espacio disponible */
    align-items: center; /* Centrar verticalmente los elementos */
}

/* Estilos para el logotipo */
.logo img {
    max-width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}
/*modifica texto de barra nav*/
nav ul a {
    margin-right: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* */
.boton {
    display: flex; /* Usar flexbox para alinear elementos horizontalmente */
}

button {
    background-color: #cc5200;
    color: white;
    border-radius:18px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px; /* Espacio entre los botones */
}
/*========================================*/
/*CAMBIAR COLOR DE SELECCION DEL PANEL DE NAV*/
nav a:hover{
    color:rgb(255, 0, 238);
    text-decoration: underline;

}

/*MOD PIE DE PAGINA*/
footer{
    text-align:center;
    background-color: rgb(168, 100, 100);
    padding: 5px;
    
}
/*MOD TEXTO Y COLOR PIE DE PAGINA*/
.copy{
    color: rgb(10, 7, 7);
    font-size: 8px;
    margin: 15px;
}
/*####################################CLINICAS################################*/

.infoClin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ca8181; /* Color de fondo del rectángulo */
    padding: 10px; /* Espaciado interior */
    border: 1px solid #ccc; /* Borde del rectángulo */
    width: 80%; /* Ancho del rectángulo (puedes ajustarlo según tus necesidades) */
    margin:auto; /* Centrar el rectángulo en la página */
}
.clinicas{
    font-weight: bold; /* Texto en negrita */
    font-size: 25px; /* Tamaño de fuente más grande */
    text-align: calc(100% - 20px); /* Centrar el texto */
}


/* Estilos para el texto */
.textclin {
    width: 70%; /* Ancho del área de texto (puedes ajustarlo según tus necesidades) */
}

table {
    width: 50%; /* Ancho de la tabla al 100% del contenedor */
    border-collapse: collapse; /* Fusionar los bordes de las celdas */
    border: 0px solid #ccc; /* Agregar bordes a las celdas */
    padding: 10px; /* Espaciado interior de las celdas */
    margin: auto;
  }

th, td {
    border: 0px; /* Agregar bordes a las celdas */
    padding: 10px; /* Espaciado interior de las celdas */
    text-align: center; /* Alinear el contenido al centro */
  }
