/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;/*no borrar, crea margenes auto de 10 px*/
    padding: 0;/*no borrar, crea margenes auto de 10 px*/
}
header {
    background-color: #383536;
    position: sticky;/*panel fijo*/
    top: 0; /* Fija el panel en la parte superior de la ventana */
    z-index: 100;/*poner por encima*/
    color: white;/*color de letra*/
    padding: 20px 20px;/*ajusta el ancho del panel de nav*/
    align-items: center; /* Centrar verticalmente los elementos */
    display: flex; /* Usar flexbox para alinear elementos horizontalmente */
    justify-content: space-between; /* Distribuir elementos en el espacio disponible */
   
}
nav ul a {
    margin-right: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* */
.boton {
    display: flex; /* Usar flexbox para alinear elementos horizontalmente */
}
button {
    background-color: #cc5200;
    color: white;
    border-radius:18px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px; /* Espacio entre los botones */
}
/*CAMBIAR COLOR DE SELECCION DEL PANEL DE NAV*/
nav a:hover{
    color:rgb(255, 0, 221);
    text-decoration: underline;

}
/* Estilos para el carrusel de imágenes */
.client-services {
    margin: 20px 0;/*espacio arriba abajo*/
    overflow: hidden;/*cuando no se ve */
}

.slideshow {
    white-space: nowrap;
    animation: slide 22s linear infinite;/*da movimiento y tiempo*/
    display:inline-flex;/*alineacion superior de imagenes*/
    overflow: hidden;
}



.slideshow img {
    max-width: auto;
    height: 200px;/*ajustar alto de imagen en carrusel*/
}

@keyframes slide {/*movimiento entre imagenees y tiempo*/
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(-20%);
    }
    75% {
        transform: translateX(-30%);
    }
}

/* Estilos para la sección de información de clientes */
.client-information {
    padding: 80px;/*espacio margen superior*/
    background-color: #de8282;
    max-width: 1000px;/*ancho*/
    margin: auto;
    border-radius: 40px;
}

.client-information h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-inline-end: 50px;
}
/*texto central vet busca*/
.client-information p {
    margin: 30px 60px;
    text-align: left;
    font-style: oblique;
}

.centered-image {
    margin-top: 80px;/*espacio para la imagen*/
    text-align: center;/*ubicacion*/
}

.centered-image img {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
}
/* Estilos para la sección de fotos de ancho completo */
.full-width-photos {
    display: flex;
    justify-content: space-between;
    padding: 40px;/*espacio entre seccion*/
    max-width: 1200px;/*ancho*/
    margin: auto;/*ajusta en el espacio al centro*/
}

.photo {
    flex: 0 0 calc(33.33% - 8px);
    margin: 5px;
    
}

.photo img {
    width: 94%;/*ajusta ancho*/
    height: 200px;/*ajustar alto de imagen en carrusel*/
}

/* Estilos para el pie de página */
footer {
    align-items: center;
    text-align: center;
    background-color: rgb(168, 100, 100);
    padding: 20px;/*margen de lados*/
    align-items: center
}

.footer-left {
    flex: 1;
    text-align: left;
    align-items: center;
    text-align: center;
}

.footer-center {
    flex: 2;
}

.footer-center a {
    margin: 10px 10px;
}

.footer-center img {
    width: 30px;
    height: 30px;
}

.footer-right {
    flex-basis: calc(50% - 100px); /* Divide el espacio en dos columnas, menos el ancho del logo */
    text-align: right;
    height: 100%; /* Establece una altura máxima para que ocupe toda la altura disponible */
}

.footer-right ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0px; /* Elimina el margen inferior para alinear la lista en la parte superior */
}

.footer-right ul li {
    margin-bottom: 10px;/*espacio entre elementos de lista*/
    text-align: right; /* Alinea el texto a la derecha */
}
.footer-other {
    flex-basis: calc(50% - 100px); /* Divide el espacio en dos columnas, menos el ancho del logo */
    text-align: left;
    height: 100%; /* Establece una altura máxima para que ocupe toda la altura disponible */
}

.footer-other ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0px; /* Elimina el margen inferior para alinear la lista en la parte superior */
}

.footer-other ul li {
    margin-bottom: 10px;/*espacio entre elementos de lista*/
    text-align: left; /* Alinea el texto a la derecha */
}
.copy{
    color: rgb(35, 28, 28);
    font-size: 15px;
    margin: 15px;
}